<% layout("/layouts/boilerplate") %>
<div id="filters">
  <div class="filter" onclick="filterByCategory('trending')">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter" onclick="filterByCategory('rooms')">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter" onclick="filterByCategory('iconic cities')">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>
  <div class="filter" onclick="filterByCategory('mountains')">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter" onclick="filterByCategory('castles')">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter" onclick="filterByCategory('amazing pools')">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
  <div class="filter" onclick="filterByCategory('camping')">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter" onclick="filterByCategory('farms')">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
  <div class="filter" onclick="filterByCategory('arctic')">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
  <!-- new3 -->
  
  <div class="filter" onclick="filterByCategory('heritage')">
    <div><i class="fa-solid fa-place-of-worship"></i></div>
    <p>Heritage</p>
  </div>
  <div class="filter" onclick="filterByCategory('house boats')">
    <div><i class="fa-solid fa-anchor"></i></div>
    <p>House Boats</p>
  </div>
  
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>
<!-- <h1>All listings</h1> -->
<!-- <form method="get" action="/listing/new">
      <button>Add New Listing</button>
    </form> -->

<!-- Adding here logic for showing custom message when no room in that category exists -->
<% if (allListings.length === 0) { %>
  <div class="alert alert-warning text-center mt-5">
    <h5>No stay available</h5>
    <% if (selectedCategory) { %>
      <p>in <strong><%= selectedCategory %></strong> category</p>
    <% } %>
  </div>
<% } %>

<!-- end -->
 
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings){ %>
  <a href="<%=listing._id%>" class="listing-link">
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_img"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text">
          &#8377;<%= listing.price?.toLocaleString("en-IN")||"N/A" %> / night
          <i class="tax-info">&nbsp; +18%GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
<script>
  let taxswitch=document.getElementById("flexSwitchCheckDefault");

  taxswitch.addEventListener("click", ()=>{
    let taxinfos = document.getElementsByClassName("tax-info");
    // console.log(taxinfos);
    for(let info of taxinfos){
      if(info.style.display=="inline"){
        info.style.display="none";
      }else{
        info.style.display="inline";
      }
    }
  });
  function filterByCategory(category) {
    window.location.href = `?category=${category}`;
  }
</script>
